SESSION_SECRET="a-very-long-and-random-string-must-be-at-least-32-characters"
ADMIN_PASSWORD_HASH="your-password-hash-generated-by-bcrypt-use-the-generatePasswordHash.js-script"
HTTPS_ENABLED = "if you are going to enable https set this to true otherwise false"
PORT = 5555 "port you want the app to run on"